<footer>
  <ul class="list-logo">
    <li class="logo-item">
      <a
        class="logo-link"
        href="https://www.linkedin.com/in/mathias-peris-ingles-239477218/"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
    </li>
    <li class="logo-item">
      <a class="logo-link" href="https://github.com/Dimorg95"
        ><i class="fa-brands fa-github"></i
      ></a>
    </li>
    <li class="logo-item">
      <a class="logo-link" href="https://twitter.com/Ditmorg"
        ><i class="fa-brands fa-twitter"></i
      ></a>
    </li>
  </ul>
  <ul class="list-link">
    <li class="link-item">
      <a class="link" href="#presentation-container" target="_self">Parcours</a>
    </li>
    <li class="link-item">
      <a class="link" href="#gallery" target="_self">Projets</a>
    </li>
    <li class="link-item">
      <a class="link" href="#contact" target="_self">Contact</a>
    </li>
  </ul>
  <p class="copyright">
    Mathias Peris Ingles <i class="fa-solid fa-copyright"></i> <span>2023</span>
  </p>
</footer>
