<footer>
  <ul class="list-logo">
    <li class="logo-item">
      <a href=""><i class="fa-brands fa-linkedin"></i></a>
    </li>
    <li class="logo-item">
      <a href=""><i class="fa-brands fa-github"></i></a>
    </li>
    <li class="logo-item">
      <a href=""><i class="fa-brands fa-twitter"></i></a>
    </li>
  </ul>
  <ul class="list-lien">
    <li><a href="">Mon parcours</a></li>
    <li><a href="">Mes projets</a></li>
    <li><a href="">Contact</a></li>
  </ul>
  <p class="copyright">
    Mathias Peris Ingles <i class="fa-solid fa-copyright"></i> 2023
  </p>
</footer>
