<header>
  <div class="title-banner">
    <h1 [@moveToLeft]="animationState">Mathias Peris Ingles</h1>
    <h2 [@moveToRight]="animationState">Développeur web junior</h2>
  </div>
  <nav>
    <ul class="nav-list">
      <li [@moveToBottom]="animationStateButton" class="nav-item item1">
        <a href="#test1" target="_self" class="nav-link nav-link-left"
          >Mon parcours</a
        >
      </li>
      <li [@moveToTop]="animationStateButton" class="nav-item item2">
        <a href="#" class="nav-link nav-link-center">Mes projets</a>
      </li>
      <li [@moveToBottom]="animationStateButton" class="nav-item item3">
        <a href="#" class="nav-link nav-link-rigth">CV et technologies</a>
      </li>
    </ul>
  </nav>
</header>
