@import "../../../Scss/variables";
@import "../../../Scss/placeholder";
@import "../../../Scss/keyframes";
@import "../../../Scss/mixins";

header {
  position: relative;
  height: 70rem;
  @extend %flex-column-sa;
}

img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: -2;
  filter: blur(2px);
}

.title-banner {
  // width: 100%;
  width: 60rem;
  text-align: center;
  @include mobile {
    width: 40rem;
  }
  @include littleMobile {
    width: 30rem;
  }
  h1 {
    font-size: 6rem;
    color: $font-color-one;
    @include tablet {
      font-size: 6rem;
    }
    @include mobile {
      font-size: 4rem;
    }
  }
  h2 {
    margin-top: 0.8rem;
    font-size: 4rem;
    color: $font-color-one;
    @include tablet {
      font-size: 4rem;
    }
    @include mobile {
      font-size: 3rem;
    }
  }
}

nav {
  width: 100%;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  @include tablet {
    flex-direction: column;
    align-items: center;
  }
}

//nav-link bouton
.nav-link {
  width: 30rem;
  height: 2.5rem;
  color: #fff;
  padding: 2rem 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  outline: none;
  border-radius: 0.3rem;
  z-index: 0;
  background: $background-color-two;
  overflow: hidden;
  border: 0.2rem ridge $font-color-two;
  color: $font-color-two;
  @extend %flex-center-center;
  font-size: 3rem;
  text-decoration: none;
  @include laptop {
    width: 23rem;
    font-size: 2.2rem;
  }
  @include tablet {
    width: 30rem;
    font-size: 3rem;
    margin-bottom: 5rem;
  }
  @include mobile {
    width: 20rem;
    font-size: 1.8rem;
  }
}

//Animation du fond des boutons au Hover
.nav-link:hover:after {
  height: 100%;
}

.nav-link:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  background: $font-color-three;
}

.nav-link-left::after {
  height: 100%;
  width: 0;
}

.nav-link-left:hover:after,
.nav-link-rigth:hover:after {
  width: 100%;
}

.nav-link-rigth:after {
  right: 0;
  width: 0;
  left: unset;
  height: 100%;
}
