<section id="gallery">
  <owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let projet of projetPersoList.reverse()">
      <ng-template carouselSlide [id]="projet.id">
        <div class="item">
          <a [href]="projet.urlProjet">
            <h2>{{ projet.title }}</h2>
            <img [src]="projet.imageUrl" [alt]="projet.title" />
            <div class="description-container">
              <p class="description">{{ projet.description }}</p>

              <p
                class="formOrPerso"
                *ngIf="projet.formaOrPerso === true; else elseBlock"
              >
                Projet de formation
              </p>
              <ng-template #elseBlock>
                <p class="formOrPerso">Projet personnel</p></ng-template
              >
            </div>
          </a>
        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</section>
