@import "../../../Scss/variables";
@import "../../../Scss/placeholder";
@import "../../../Scss/keyframes";
@import "../../../Scss/mixins";

//TESTE CAROUSEL

.gallery {
  height: 62rem;
}

.item {
  box-sizing: border-box;
  border-radius: 0.5rem;
  padding: 0rem 1rem;
  margin: 0rem 3rem;
  background-image: linear-gradient(
    to left bottom,
    #2e3244,
    #373d51,
    #40485e,
    #48546b,
    #516079
  );
  transition: all 500ms ease-in-out;
  box-shadow: 0px 0px 8px 3px rgba(46, 50, 68, 0.4);
}

.item:hover {
  box-shadow: 0px 0px 11px 5px rgba(46, 50, 68, 0.7);
}

a {
  text-decoration: none;
  color: $font-color-one;
  @extend %flex-column-start;
}

h2 {
  font-size: 2.3rem;
  margin-bottom: 1rem;
  color: $font-color-two;
  letter-spacing: 0.6rem;
  text-shadow: 5px 8px 3px rgba(255, 255, 255, 0.4);
  @include littleMobile {
    font-size: 2rem;
  }
}

img {
  height: 37rem;
  object-fit: cover;
  border-radius: 2rem;
  box-shadow: 0px 0px 11px 1px rgba(255, 255, 255, 0.4);
}

.description-container {
  @extend %flex-column-sa;
  margin: 1rem 0rem 0.8rem 0rem;
  height: 5rem;
  width: 100%;
  border: 0.3rem $background-color-two solid;
  border-radius: 0.5rem;
}

.description {
  font-size: 1.4rem;
  font-weight: 600;
  color: $background-color-two;
  @include littleMobile {
    font-size: 1.2rem;
  }
}

.formOrPerso {
  font-size: 1.3rem;
  color: $font-color-two;
  @include littleMobile {
    font-size: 1rem;
  }
}
