@import "./variables";

@mixin large {
  @media screen and (max-width: map-get($breakpoint, large)) {
    @content;
  }
}

@mixin desktop {
  @media screen and (max-width: map-get($breakpoint, desktop)) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: map-get($breakpoint, laptop)) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: map-get($breakpoint, tablet)) {
    @content;
  }
}
@mixin mobile {
  @media screen and (max-width: map-get($breakpoint, mobile)) {
    @content;
  }
}
@mixin littleMobile {
  @media screen and (max-width: map-get($breakpoint, littleMobile)) {
    @content;
  }
}

@mixin flex-column-center {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
