$font-color-one: #2e3244;
$background-color-one: #c5c6c6;
$font-color-two: rgb(255, 255, 255);
$background-color-two: #f1895c;
$font-color-three: #516079;

$breakpoint: (
  littleMobile: 400px,
  mobile: 600px,
  tablet: 768px,
  laptop: 1024px,
  desktop: 1400px,
  large: 1900px,
);
