<!-- <div class="enculer"> -->
<div class="test1">
  <!-- <ng-particles
    id="particles-container"
    [id]="id"
    [options]="particlesOptions"
    [particlesInit]="particlesInit"
    (particlesLoaded)="particlesLoaded($event)"
  >
  </ng-particles> -->
  <div class="img-tape img-tape-3">
    <img src="../../../assets/images/20221123_145606.jpg" alt="" />
  </div>
  <div class="presentation-container">
    <div class="paragraphe">
      <p class="p1"></p>
    </div>
    <div class="les-post-it">
      <div class="post-it">
        <p>
          Depuis 2021 j'ai décider de me reconvertir dans le développement web,
          avec une préference pour le front end.
        </p>
      </div>
      <div class="post-it">
        <p>
          J'ai effectué une formation diplomante de développeur web avec
          OpenclassRoom.
        </p>
      </div>
      <div class="post-it">
        <p>
          A l'heure actuelle je recherche une alternance pour gagner en
          compétence, apprendre auprés d'une équipe et surtout avoir de
          l'experience dans ce milieux.
        </p>
      </div>
    </div>
    <!-- <div class="post-it"> -->
    <!-- <h2>Je maîtrise</h2>
      <ul>
        <li>
          HTML/CSS<i class="fa-brands fa-html5"></i
          ><i class="fa-brands fa-css3-alt"></i>
        </li>
        <li>JavaScript<i class="fa-brands fa-js"></i></li>
        <li>Angular<i class="fa-brands fa-angular"></i></li>
        <li>Nodejs<i class="fa-brands fa-node"></i></li>
        <li>Java<i class="fa-brands fa-java"></i></li>
      </ul> -->
    <!-- <h2>En quelque mots :</h2> -->

    <!-- </div> -->
  </div>
</div>
<!-- </div> -->
