<section id="presentation-container">
  <div class="img-tape img-tape-3">
    <img src="../../../assets/images/20221123_145606.jpg" alt="" />
  </div>
  <div class="presentation-container">
    <div class="paragraphe">
      <p class="p1"></p>
    </div>
    <div class="posts-its">
      <div class="post-it post-it-left">
        <p>
          En reconversion depuis fin 2021, j'ai pour but de devenir développeur
          front end aux termes de mon apprentissage.
        </p>
      </div>
      <div class="post-it post-it-center">
        <p>
          Déjà diplômé d'une certification je recherche un poste en alternance
          ou en tant que junior.
        </p>
      </div>
      <div class="post-it post-it-rigth">
        <p>
          Dans le futur j'aimerais trouvé ma place au sein d'une entreprise
          fiable et me correspondant.
        </p>
      </div>
    </div>
  </div>
</section>
