@import "../../../Scss/variables";
@import "../../../Scss/placeholder";
@import "../../../Scss/keyframes";
@import "../../../Scss/mixins";

#presentation-container {
  width: 100%;
  height: 60rem;
  margin-top: 3rem;
  background: url(../../../assets/images/tableau-vide.jpg) center no-repeat;
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;
  @extend %flex-center-evenly;
  z-index: 1;
  @include laptop {
    height: 120rem;
    flex-direction: column;
  }
  @include tablet {
    height: 160rem;
  }
  @include littleMobile {
    height: 145rem;
  }
}

.img-tape {
  position: relative;
  text-align: center;
  display: inline-block;
  @include laptop {
    margin-top: 3rem;
  }
  &:before,
  &:after {
    background: rgba(255, 255, 235, 0.6);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    content: "";
    display: block;
    height: 2rem;
    position: absolute;
    margin: auto;
    width: 7.5rem;
  }

  img {
    width: 45rem;
    height: 55rem;
    background: #f8f8f8;
    border: 1px solid #ddd;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    display: inline-block;
    margin: 0 1.25rem;
    padding: 0.8rem;
    text-align: center;
    vertical-align: top;
    object-fit: cover;
    @include desktop {
      width: 35rem;
      height: 45rem;
    }

    @include littleMobile {
      width: 25rem;
      height: 35rem;
    }
  }
}

.img-tape-3 {
  &:before {
    left: -0.4rem;
    top: 1rem;
    transform: rotate(-45deg);
  }

  &:after {
    bottom: 1rem;
    right: -0.5rem;
    transform: rotate(-45deg);
  }
}
.presentation-container {
  width: 100rem;
  height: 100%;
  @extend %flex-column-sa;
  color: $font-color-two;
  font-size: 2.5rem;
  z-index: 1;
  @include laptop {
    width: 100%;
  }
  @include tablet {
    margin-top: 3rem;
    justify-content: flex-start;
  }
  .paragraphe {
    height: 10rem;
    width: 50rem;
    @include mobile {
      width: 40rem;
    }
    @include littleMobile {
      width: 30rem;
    }

    .p1 {
      font-size: 4rem;
      text-align: center;
      font-weight: 500;
      @include littleMobile {
        font-size: 3rem;
      }
    }
  }

  .posts-its {
    width: 100%;
    height: 40rem;
    @extend %flex-space-evenly;
    @include tablet {
      height: 90rem;
      @include flex-column-center;
    }
  }
  .post-it {
    background: $background-color-two;
    height: 27rem;
    width: 27rem;
    padding: 1rem;
    @extend %flex-center-center;
    box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
    margin-top: 4rem;
    transition: transform 0.15s linear;
    @include desktop {
      width: 20rem;
      height: 20rem;
    }
    @include laptop {
      height: 23rem;
      width: 23rem;
    }
    @include tablet {
      height: 27rem;
      width: 27rem;
    }
    @include littleMobile {
      height: 23rem;
      width: 23rem;
    }

    p {
      font-family: "Reenie Beanie", cursive;
      font-size: 3rem;
      font-weight: 600;
      color: $font-color-one;
      @include desktop {
        font-size: 2rem;
      }
      @include laptop {
        font-size: 3rem;
      }
    }
  }

  .post-it-left {
    transform: rotate(4deg);
  }
  .post-it-rigth {
    transform: rotate(5deg);
  }
  .post-it-center {
    transform: rotate(-3deg);
  }

  .post-it:hover {
    box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
    transform: scale(1.25);
    z-index: 5;
  }
}
