<section>
  <div class="test1">
    <div class="img-tape img-tape-3">
      <img src="../../../assets/images/20221123_145606.jpg" alt="" />
    </div>
    <div class="presentation-container">
      <p class="p1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, natus
        possimus vitae minus consequatur quod corporis voluptatem sed, odio
        numquam maxime recusandae vel, incidunt asperiores at nostrum
        repudiandae ipsum omnis.
      </p>
      <p class="p2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque magni
        culpa sapiente itaque dolorum consequatur natus ipsum mollitia, debitis
        quia. Earum quibusdam velit eos dolorum quisquam voluptate maxime
        dignissimos praesentium?
      </p>
    </div>
  </div>
</section>
